*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#ffffff;
}

html {
  scroll-behavior: smooth;
}


:root{
    /*
        Colores de Texto
    */
    --Texto-principal: #000000;

    /*
        Fuentes de letra
    */

    --Texto-principal: inter;


    /*
        Colores de componentes
    */
    --Componente-principal: #000000;
}

.hr{
    width: 90%;
    height: 1px;
    margin: 0 auto;
    background-color: var(--Componente-principal);
}

@media screen and (max-width: 720px){
    body{
        width: 100%;
    }
}